<% @feed.each do |answer| %> 
<tr>
  <td class="anwser">
      <%= answer.text %>
    </td>
    <td class="votes"> <%= v=answer.votes.count %> </td>
    <td class="flags"> <%= f=answer.flags.count %> </td>
    <td> <%= link_to "Delete?", answer, :method => :delete, :confirm => "Deleting answer. You sure?" if f>v%>

</tr>

<% end %>
