
<p>
<h3><%= @question.title %></h3>
</p>

<p>
  Asked <%= time_ago_in_words(@question.updated_at) %> ago.
</p>
  <% unless @feed.empty? %>
    <%=pluralize(@feed.count, "answer") %> so far:
    <table>
      <th></th>
      <th>Votes</th>
      <th>Flags</th>
      <%= render "feed"  %>
    </table>
  <%else %>
    Hold tight, this question has no anwsers <strong>yet</strong>.
  <%end %>
