<% @feed.each do |answer| %> 
<tr>
  <td class="anwser">
      <%= answer.text %>
    </td>
    <td class="vote">
      <%= button_to "I like this", {:controller => "votes", :action => "create", :answer_id => answer.id}%>
      <%= button_to "Flag", {:controller => "flags", :action => "create", :answer_id => answer.id} ,
          :confirm => "You are reporting this as offensive. Sure?"%>
      
      </td>
</tr>

<% end %>
